@import (reference) "../public/style/base.less";

.header{
	@media (max-width: @screen-sm-max) {
		.main-nav {
			display: none
		}
		.search-form {
			display: none !important;
		}
		.mb-navgroup {
			display: block !important;
		}
	}

	@media (max-width: @screen-md-max) {

	}

	@media (max-width: @screen-lg-max) {
		.header-main {
			width: 100% !important;
		}
	}

	width: 100%;
	height: 65px;
	position: relative;
	background-color: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	.header-main {
		width: 1200px;
		margin: 0 auto;
		// logo
		.logo {
	        display: block;
	        float: left;
	        .transition;
	        color: @fontColor-normal;
	        &:hover {
	        	color: @active-blue;
	        }
	        i {
        	    margin-right: 5px;
				display: inline-block;
			    width: 40px;
				height: 40px;
				background: url("../public/img/logo-40X40.png") no-repeat;
			}
	        .site-title {
	        	font-size: 16px;
				display: inline-block;
				vertical-align: top;
				font-weight: 600;
	        }
		}
		.logo, .main-nav, .search-form, .mb-navgroup {
			height: 40px;
			line-height: 40px;
			padding: 12px 15px;
		}
		// pc导航
		.main-nav {
			float: left;
			a {
				.transition;
				white-space: nowrap;
	            float: left;
			    display: block;
			    padding: 0 15px;
		        font-weight: 400;
		        color: @fontColor-normal;
		        &:hover{
		        	color: @active-blue;
		        }
			}
		}
		// 搜索
		.search-form {
			float: right;
			form {
				position: relative;
			}
			button[type="submit"] {
				.transition;
			    top: 50%;
			    right: 15px;
			    border: none;
			    cursor: pointer;
			    margin-top: -7px;
			    background: none;
			    position: absolute;
			    font-size: 14px;
			    &:active {
			    	outline: none;
			    }
			    &:hover {
			    	color: @active-blue;
			    }
			}
			input[type="text"] {
				.transition;
				width: 205px;
				padding: 0 30px 0 15px;
				line-height: 36px;
				height: 36px;
				border-radius: 20px;
				color: @fontColor-normal;
				outline: none;
				font: 14px "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif;
				border: 1px solid #eceff2;
				box-sizing: border-box;
				&:focus {
					border-color: @active-blue;
				}
			}
		}
		// 移动端搜索组
		.mb-navgroup {
			float: right;
			position: static;
			display: none;
			.mb-search, .mb-bar {
				.transition;
				font-size: 18px;
				padding: 10px;
				&:active {
					background-color: #e2e2e2;
				}
			}

		}
	}
	// 移动端导航
	.mb-navbar {
		.transition;
		position: absolute;
		background-color: #fff;
		width: 100%;
		top: 65px;
		height: 0;
		ul li {
			padding: 10px 18px;
			&:hover {
				background-color: #eee;
			}
			.fa {
				font-size: 14px;
				margin-right: 8px;
			}
			a {
				color: @fontColor-normal;
			}
		}
	}
	// 点击弹出搜索组件
	.mb-search-main {
		position: absolute;
		width: 100%;
		height: 65px;
		top: 0;
		left: 0;
		background-color: #fff;
		z-index: 11;
		form {
			position: relative;
		    top: 50%;
		    transform: translateY(-50%);
		    padding: 0 50px 0 25px;
		}
		button {
		    top: 50%;
		    padding: 5px;
		    border: none;
		    background: none;
		    position: absolute;					
		}
		button[type="submit"] {
			.transition;
		    right: 56px;
		    cursor: pointer;
		    margin-top: -13px;
		    font-size: 14px;
		    &:active {
		    	outline: none;
		    }
		    &:hover {
		    	color: @active-blue;
		    }
		}
		button[type="button"] {
			right: 8px;
			margin-top: -15px;
			color: #666;
			&:active {
				color: #999;
				outline: none;
			}
		}
		input[type="text"] {
			.transition;
			width: 100%;
			padding: 0 30px 0 15px;
			line-height: 33px;
			height: 33px;
			border-radius: 20px;
			color: @fontColor-normal;
			outline: none;
			font: 14px "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif;
			border: 1px solid #eceff2;
			box-sizing: border-box;
			&:focus {
				border-color: @active-blue;
			}
		}
	}	
}