@import (reference) "../public/style/base.less";

@media (max-width: @screen-sm-max) {
	.title-wrap {
		h1 {
			font-size: 26px !important;
		}
		h2 {
			font-size: 16px !important;
		}
	}
	.top-intro {
		height: 175px !important;
	}
	.container {
		.left {
			width: 100% !important;
			padding: 15px 10px !important;
		}
		.right {
			display: none;
		}
	}
}

@media (max-width: @screen-md-max) {
	.header-main {
		width: 100% !important;
	}
	.container {
		width: 100% !important;
	}
}

@media (max-width: @screen-lg-max) {
	
}

// 头部大图及内容
.top-intro {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 450px;
    .banner-wrap {
    	position: relative;
	    height: 100%;
	    overflow: hidden;
	    .banner-img {
    	    width: 100%;
    	    position: absolute;
    	    top: 50%;
    	    left: 50%;
    	    transform: translateY(-50%) translateX(-50%);
		}
		.title-wrap {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			h1, h2{
				text-align: center;
				color: #fff;
				font-weight: 700;
				padding: 5px 0;
			}
			h1 {
				font-size: 46px;
			}
			h2 {
				font-size: 30px;
			}
		}
	}
}	

// 首页主要内容
.container{
	margin: 0 auto;
	width: 1200px;
	.left, .right {
		float: left;
		padding: 50px 30px;
		box-sizing: border-box;
	}
	.left {
		width: 60%;
	}
	.right {
		width: 40%;
	}
	.article-cell{
		width: 100%;
		background-color: #fff;
		box-shadow: 0 1px 2px rgba(0,0,0,0.05);
		margin-bottom: 50px;
		.article-imgwrap {
			width: 100%;
			img {
				width: 100%;
			}
		}
		.article-con {
			padding: 20px;
			h1 a {
				.transition;
				color: @fontColor-normal;
				font-size: 26px;
				&:hover {
					color: @active-blue;
				}
			}
			.tags-con {
				span {
					line-height: 35px;
					margin-right: 10px;
					i {
						margin-right: 6px;
					}
					a {
						color: @fontColor-normal;
					}
				}
				.catename {
					.transition;
					&:hover {
						color: @active-blue;
					}
				}
			}
			.article-des {
				margin-top: 16px;
				line-height: 22px;
			}
			.know-more {
				padding: 23px 0;
				border-bottom: 1px solid #eceff2;
				a {
					color: #999;
					text-shadow: 0 1px #fff;
					display: inline-block;
					padding: 6px 15px;
					border-radius: 15px;
					background-color: #f5f8f9;
					line-height: 16px;
					.transition;
					&:hover {
						background: #38b7ea;
					    color: #fff;
					    text-decoration: none;
					    text-shadow: 0 1px #169cd2;
					}
				}
			}
			.opera {
				text-align: right;
				padding-top: 20px;
				a {
					color: #999;
					font-size: 12px;
					margin-left: 20px;
					&:hover {
						color: @fontColor-normal;
					}
					i {
						margin-right: 5px;
					}
				}
			}
		}
	}
	// 近期文章
	.recent-article {
		width: 100%;
	}
}