<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><%= title%></title>
	<meta name="description" content="Allen Zhao 的个人博客, 积累技术心得, 分享生活。">
	<meta name="keywords" content="Allen Zhao, blog, 个人博客, 个人站, javascript, 前端, 生活">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<meta http-equiv="cleartype" content="on">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-touch-icon-favicon-57x57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-favicon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-favicon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon-favicon-144x144.png">
	<link rel="stylesheet" type="text/css" href="/build/style/app.css">
</head>
<body>